<div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading">Add Log Statement</div>
	  <div class="panel-body">
	  	<form>
  			<div class="form-group">
    			<label for="formGroupExampleInput">Username:</label>
    			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter username of user performing the operation" 
    					ng-model="logEntryRequest.username">
  			</div>
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Operation name:</label>
    			<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Operation Name"
    					ng-model="logEntryRequest.operationName">
  			</div>
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Log Data:</label>
    			<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Expected data in the log for the operation"
    				    ng-model="logEntryRequest.logData">
  			</div>
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Per Minute Log Frequency:</label>
    			<input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Expected frequency of the log statement per minute"
    					ng-model="logEntryRequest.perMinuteLogFrequency">
  			</div>
  			
  			<div class="row">
  				<button ng-click="cancel();">Cancel</button>
  				<button ng-click="createLogStatement();">Save</button>
  			</div>
		</form>
	  </div>
	</div>
</div>