<div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading">About</div>
	  <div class="panel-body">
	   The main goal of this project was to become familiar with the basic concepts of visualizing highly connected
	   data sets (graphs) in the browser. This simple demo will setup three computer applications, components used to build application, 
	   other applications that interface with the application, business line the application belongs, etc.
	   
	   The application is a Spring Boot application and uses Neo4j Graph Database for persistence. The application can be configured to use either embedded Neo4j or 
	   a remote location. The front end is implemented using AngularJS and Bootstrap frameworks. The graph visualization was done using SimgaJs and Linkourious.
	  
	   </div> 
	   <div class="row">
		   To start, please press Setup Data button 
		   <button ng-click="setupData();">Setup Data</button>
		 </div>
	</div>
</div>


