<div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading">Data Setup Summary</div>
	  <div class="panel-body">
	  	Summary of created applications:
	  	
	  	<table ng-repeat="application in applications.data">
	  		<tr>
	  			<td><a ng-click="displayApplication(application.id);">{{application.name}} - Default</a></td>
	  		</tr>
	  		<tr>
	  			<td><a ng-click="displayApplicationGraphCurved(application.id);">{{application.name}} - Curved</a></td>
	  		</tr>
	  		<tr>	
	  			<td><a ng-click="displayApplicationGraphImage(application.id);">{{application.name}} - Image</a></td>
	  		</tr>
	  	</table>
	  
	  </div>
	</div>
</div>